# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.exe

# Compiled Static libraries
*.lai
*.la
*.a

# gtags
GPATH
GRTAGS
GTAGS

# dir for compiling
tmp
vendors

iij
mruby
Makefile
config.h
