<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
      var server = "<%= server %>";
      var port   = <%= port %>;
    </script>
    <script src="client.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="container7" style="float: left; min-width: 600px; height: 600px; margin: 0 auto"></div>
    <div id="container" style="float: left; min-width: 700px; height: 200px; margin: 0 auto"></div>
    <div id="container3" style="float: left; min-width: 700px; height: 200px; margin: 0 auto"></div>
    <div id="container2" style="float: left; min-width: 700px; height: 200px; margin: 0 auto"></div>
    <div style="clear: left"></div>
    <div id="container6" style="float: none; min-width: 600px; height: 200px; margin: 0 auto"></div>
    <div id="container5" style="float: none; min-width: 600px; height: 200px; margin: 0 auto"></div>
    <div id="container8" style="float: none; min-width: 600px; height: 200px; marign: 0 auto"></div>
</body>
</html>

