<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
      var server = "<%= server %>";
      var port   = <%= port %>;
    </script>
    <script src="client.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <textarea id="val" cols="50" rows="10" readonly></textarea> -->
    <div id="container7" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div id="container6" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div id="container5" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div id="container4" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div id="container" style="min-width: 100px; height: 200px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 100px; height: 200px; margin: 0 auto"></div>
    <div id="container3" style="min-width: 100px; height: 200px; margin: 0 auto"></div>
  </body>
</html>

